body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

.inputs {
    margin-top: 20px;
}

.inputs input {
    margin-top: 3px;
}

.operations button {
    margin-top: 3px;
}

.operations button:hover {
    background-color: lightblue;
    border: none;
}

#result {
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    visibilitiy: visible;
}